*
{
    margin: 0;
    padding: 0;
}

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
    
}
.carousel-caption h5{
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
    font-size: 70%;
    background-color: rgb(0, 0, 0);
    color: #1683b9!important;
    transition: 0.1s;
}
.welcome{
    color: #efefef;
}

.navbar-brand img{
    height: 45px;
    padding-left: 30px;
}

.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover{
    /* color: #0072fd9a!important; */
    color: #0b070c!important;
}
.navbar{
    background: #7254f5;
    /* background: rgba(0, 0, 0, 0.856); */
}
.navbar-brand{
    color:#ffffff!important;
    font-weight: 600;
    font-size: 48px;
}
.navbar-toggler{
    border: none!important;
}
.nav-link{
    color: rgb(248, 237, 237)!important;
    font-weight: 600;
    font-size: 16px;
}
#slider{
    width: 100%;
}

#services{
    background-image: linear-gradient(rgba(244, 234, 234, 0.9),rgba(0,0,0,0.1));
    background-size :cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
#services h1 ::after{
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
#services{
    text-align: center;
    color: #efefef!important;
    color: #ef1515!important;
    padding-bottom: 10px;
}
.services{
    margin-top: 40px;
}
.icon{
    font-size: 40px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    border: 1px solid #fff;
    border-radius: 50%;
}

#services p{
    font-size: 14px;
    margin-top: 20px;
    color: rgb(32, 30, 30);
}
.get-started{
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 80%;
    background-color: rgb(240, 53, 69);
    color:#efefed;
    transition: 0.3s;
}

.services .col-md-3:hover{
    background-color: rgb(223, 98, 108);
    border-radius: 50px;
    cursor: pointer;
    transition: 0.7s;
}

h1{
    text-align: center;
    color: #555!important;
    padding-bottom: 10px;
}

#promo{
    background-image: linear-gradient(rgba(242, 238, 238, 0.9),rgba(231, 225, 225, 0.937)),url(./img/transfer.jpg);
    background-size: cover;
    background-position: center;
    color: rgb(58, 55, 55);
    background-attachment: fixed;
    text-align: center;
    padding: 100px;
    font-family:sans-serif;
    font-size: 38px;
}

.follow{
    background: #fff;
    padding: 10px;
    margin: 15px;
}
.contact-info .fa{
    margin: 10px;
    color: #000000;
    font-weight: bold;
} 

/* <=======Contact Us=========> */
.container{
    width: 85%;
    background: #fff;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    font-family: "Poppins" , sans-serif;
  }
  .container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container .content .left-side{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
  }
  .content .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
  }
  .content .left-side .details{
    margin: 14px;
    text-align: center;
  }
  .content .left-side .details i{
    font-size: 30px;
    color: #e63a1f;
    margin-bottom: 10px;
  }
  .content .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
  }
  .content .left-side .details .text-one,
  .content .left-side .details .text-two{
    font-size: 14px;
    color: #8e8e92;
  }
  .container .content .right-side{
    width: 75%;
    margin-left: 75px;
  }
  .content .right-side .topic-text{
    font-size: 30px;
    font-weight: 600;
    color: #16141a;
  }
  .right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
  }
  .right-side .input-box input,
  .right-side .input-box textarea{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
  }
  .right-side .message-box{
    min-height: 110px;
  }
  .right-side .input-box textarea{
    padding-top: 6px;
  }
  .right-side .button{
    display: inline-block;
    margin-top: 12px;
  }
  .right-side .button input[type="button"]{
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #3e2093;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button input[type="button"]:hover{
    background: #6e42e6;
  }
  
  @media (max-width: 950px) {
    .container{
      width: 90%;
      padding: 30px 40px 40px 35px ;
    }
    .container .content .right-side{
     width: 75%;
     margin-left: 55px;
  }
  }
  @media (max-width: 820px) {
    .container{
      margin: 40px 0;
      height: 100%;
    }
    .container .content{
      flex-direction: column-reverse;
    }
   .container .content .left-side{
     width: 100%;
     flex-direction: row;
     margin-top: 40px;
     justify-content: center;
     flex-wrap: wrap;
   }
   .container .content .left-side::before{
     display: none;
   }
   .container .content .right-side{
     width: 100%;
     margin-left: 0;
   }
  }
  

/* <========Footer=======> */
footer{
    text-align: center;
    height: 160px;
    color: seashell;
    background-color:rgba(73, 70, 70, 0.856);
}
.lfooter{
    margin-top: 20px;
    padding-bottom: 0%;
    height:34%;
    color: #333;
    background-color: rgb(255, 255, 255);
}
.list-unstyled{
    display: flex;
    position: center;
    margin: auto;
}
.media ul li a{
    color: #fff;
    float: left;
    font-family: monospace;
    font-size: 22px;
    margin-left: 23px;
    margin-right: 10px;
}
.media ul li a:hover{
    color: #999;
}

#action {
	padding: 7% 15%;
	text-align: center;
	line-height: 1.2;
	color: black;
}


.title::before {
	content: '';
	background: #0b070c;
	height: 5px;
	width: 260px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transform: translatey(63px);
}

.title{
    color: black;
    font-weight: 500;
    line-height: 0.7;
}

.title::after {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	display: block;
	transform: translatey(8px);
}

.container p{
    font-family: sans-serif;
}

